<div class="hero container" *ngIf="homeData">

  <!-- Text -->
  <div class="hero-text">

    <span class="badge">
      {{ homeData.title }}
    </span>

    <h1>
      Hi, I'm <span>{{ homeData.name }}</span>
    </h1>

    <p class="subtitle">
      {{ homeData.description }}
    </p>
    
    <div class="actions">
      <a class="btn ghost" [href]= "homeData.linkedin" target="_blank">View My Work</a>
      <a class="btn primary " [href]= "homeData.cv" target="_blank">Download CV</a>
      <a class="btn ghost" [href]= "homeData.github" target="_blank">Contact Me</a>
    </div>

    <!-- Working With -->
    <div class="working-with" *ngIf="homeData.workingWith?.length">

      <span>Working With</span>

      <div class="tech-list">
        <div class="tech" *ngFor="let tech of homeData.workingWith">
          {{ tech }}
        </div>
      </div>

    </div>

  </div>

  <!-- Image -->
  <div class="hero-img">
    <img [src]="'http://localhost:4000/' + homeData.image" [alt]="homeData.name">
  </div>

</div>